*{
    margin: 0;
    padding: 0;
}

#navigation{
    float: right;
    list-style: none;
    margin-top: 50px;
    border-radius: 25px;
}

#navigation li{
    display: inline-block;
}

#navigation li a{
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

#navigation li.active a {
    text-decoration: underline;
    color: orange;
}

#navigation li a:hover{
    text-decoration: underline;
    color: orange;
}

.logo img{
    width: 100px;
    height: auto;
    margin-top: 10px;
    float: left;
}

body{
    font-family: monospace;
}

.row{
    height: 120px;
    max-width: 1200px;
    margin: auto;
}

.container {
    width: 100%;
    text-align: center;
    height: 500px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-position: bottom bottom;
    /*background-position: center center;*/
    /*background-attachment: fixed;*/
    background-attachment: scroll;
    background-size:cover;
}
